In [1]:
import pandas as pd
import sqlite3

users = pd.read_json('data/user.json')

In [2]:
users

   id username  password   name             appointment
0   1  user101    123456  Jacky            Project Lead
1   2  user102    123456   Jane         Project Manager
2   3  user103    123456    Tom         Project Manager
3   4  user104    123456  Helen         Project Manager
4   5  user105    123456   Mark  Senior Project Manager

In [3]:
conn = sqlite3.connect('user_login')
c = conn.cursor()

In [4]:
c.execute('CREATE TABLE IF NOT EXISTS users (username text, password)')
conn.commit()

In [5]:
users.to_sql('users', conn, if_exists='replace', index = False)